/*Game container- center*/

#game {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: pink;  
}

.flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }

/* Question and choices style*/

.choice {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #6b6bb2;
    background-color: #6b6bb2;
    border-radius: 6px;
}

.choice-letter {
    padding: 1.5rem 2.5rem;
    background-color: #cc99cc;
    color: white;
    margin: 0;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
    color: black;
}

/* HUD */

#hud {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#Bar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid green;
    margin-top: 1.5rem;
}

#BarFull {
  height: 3.4rem;
  background-color: green;  
  width: 0%;
}